body{
background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #47d3ff 100px), repeating-linear-gradient(#474bff, #474bff);
background-color: #47d3ff;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
