body{

background-image: url(https://cdn.discordapp.com/attachments/1173397033483255811/1233590211762716753/Proyecto_nuevo.png?ex=662fa029&is=662e4ea9&hm=78428be4ff8df468172eca592a6ccf6e0d31e02af71bdb86b8412f47fc783822&);
background-repeat: no-repeat;
background-position: right top;
background-attachment: fixed;
background-color: rgb(253, 180, 128);
}
